.carousel-fade .carousel-inner .item {  opacity: 0;  transition-property: opacity;}
.carousel-fade .carousel-inner .active {  opacity: 1; }
.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {  left: 0;   opacity: 0;  z-index: 1; }
.carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {  opacity: 1; }
.carousel-fade .carousel-control {  z-index: 2; }

/*
  WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity
*/

@media all and (transform-3d), (-webkit-transform-3d) 
{
    .carousel-fade .carousel-inner > .item.next,    .carousel-fade .carousel-inner > .item.active.right {      opacity: 0;      -webkit-transform: translate3d(0, 0, 0);              transform: translate3d(0, 0, 0);    }
    .carousel-fade .carousel-inner > .item.prev,    .carousel-fade .carousel-inner > .item.active.left {      opacity: 0;      -webkit-transform: translate3d(0, 0, 0);              transform: translate3d(0, 0, 0);    }
    .carousel-fade .carousel-inner > .item.next.left,    .carousel-fade .carousel-inner > .item.prev.right,    .carousel-fade .carousel-inner > .item.active {      opacity: 1;      -webkit-transform: translate3d(0, 0, 0);              transform: translate3d(0, 0, 0);    }
}

.clear{ clear: both }


/* header */

.ajEspacoHeader{
    margin: 10px auto 10px auto;
    float: left;
    width: 100%;
    padding: 0px;
}

.ajFoxTextHeader p{
    font-size: 29px;
    margin: 4px auto 4px auto;
    color: rgb(0, 72, 110);
    font-weight: bold;
}

.ajFoxTextHeader span{
	float: left;
	text-align: right;
	color: rgb(0, 121, 161);
	font-weight: bold;
    font-size: 13px;	
}

.ajAreaCliente{
	float: left;
    padding: 23px 0px;
    color: rgb(0, 72, 110);
    font-weight: bold;
}

.ajAreaCliente img{
	width: 33px;
}

.ajAreaCliente span{
	font-size: 13px;
}

.ajOrcamento{
	float: left;
    padding: 25px 0px;
    color: rgb(0, 72, 110);
    font-weight: bold;
}

.ajOrcamento img{
	width: 33px;
}

.ajOrcamento span{
	font-size: 13px;
}

#fox-background-menu-header{
	height: 45px;
    background: linear-gradient(rgb(0, 50, 78), rgb(0, 72, 110), rgb(0, 72, 110));
}

.menu {
    padding: 0px;
    margin: 0 auto;
    list-style: none;
}

.menu ul {
    text-align: center;
    padding: 0px;
    margin: 0 auto;
}

.menu li { display: inline; }

.menu li a {
    padding: 11px 10px;
    display: inline-block;
    /* background-color: #EDEDED; */
    color: #ffffff;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    width: 150px;
}

.menu li a:hover {
	width: 150px;
    /* background-color:#D6D6D6; */
    font-weight: 500;
    color: #ffffff;
    border-bottom:3px solid rgb(0, 160, 202);
}

.menu li.activo a{
	/* float: left; */
	padding: 11px 10px;
    color: #ffffff;
    width: 150px;
    border-bottom:3px solid rgb(0, 160, 202);
}




/* footer */


.fox-background-img{
	background: url('../img/img_rodape.jpg') no-repeat no-repeat 100%;
	background-position: center;
	height: 170px;
}

.fox-info-desenvolvimento{
	padding: 10px;
    background: rgb(48, 48, 48);
    border-top: 2px solid rgb(99, 99, 99);
    color: rgb(154, 154, 154);
}

.btn-block+.btn-block {
    margin-top: 0px;
}

.linha_sep_horizontal{
	border: none;
	background: rgb(28, 70, 87);
	height: 1px;
    margin-top: 8px;
    margin-bottom: 5px;
}

.linha_sep_vertical {
	background: rgb(28, 70, 87);
    border: none;
    width: 1px;
    height: 97px;
    position: absolute;
}

#posicao_sep_vertical{
	left: -5px;
}

.texto_branco{
	color: #ffffff;
}

.img_logo_rodape{
	padding: 65px;
}

.ajuste_texto_footer_titulo{
	color: #fff;
    font-weight: bold;
}

.ajFoxText{
	margin-top: 7px;
    font-size: 12px;
}

.ajFoxTituloRodape{
	margin-top: 7px;
}

.setasDuplasMapa{
	color: rgb(0, 163, 207);
}

.ajuste_hover_footer:hover{
    color: #fff;
    text-decoration: none;
    background: rgb(0, 163, 207);
}





/*
.redesSociais{
    padding: 0px;
    margin: 0 auto 0 16px;
    float: left;
}



.fundo_footer{
    background: url('../img/img_rodape_r.jpg') no-repeat no-repeat 100%; height: 170px;
    background: #060;
    color: #ffffff;
    margin-bottom: -20px;
}

.img_logo_rodape{
    width: 100%;
    padding: 45px;
}

.ajImgLogoFox{
      margin-top: -6px;
    }  
    


.ajInputNews{
    width: 100%;
    border: 2px solid rgb(252, 182, 20);
    background: #000;
    padding: 3px 0px 4px 4px;
}

.corFundo{
    border: 2px solid rgb(252, 182, 20);
    background-color: rgb(252, 182, 20);
}

.setasDuplasMapa{
    color: rgb(0, 72, 110);
}

.texto_branco{
    color: #ffffff;
}

.ajuste_texto_footer_titulo{
    font-size: 16px;
    font-weight: bold;
}

.linha_sep_horizontal{
height: 1px;
    border: none;
    background-color: #444444;
    margin-top: 5px;
    margin-bottom: 0px;
}

.linha_horizontal_bottom{
    width: 100%;
    height: 1px;
    border: none;
    background-color: #444444;
}

.linha_horizontal_bottom2{
    width: 100%;
    height: 3px;
    border: none;
    background-color: rgba(252, 182,20, 0.5);
}

.corFundoRodape{
    background: rgba(45, 45, 45, 0.9);
}

.linha_sep_vertical{
    float: left;
    width: 1px;
    height: 110px;
    position: absolute;
    border: none;
    background-color: #444444;
    top: -10px;
}

#posicao_sep_vertical{
    left: -5px;
}

.ajuste_hover_footer:hover{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    background-color: rgb(252, 182, 20);
}

.carousel{
	padding: 0px;
}*/




/* home */
.fox-background-empresa-pgHome{
	background: #f6f6f6;
}

.imgEmpresaHome{
	margin: -48px auto 50px auto;
}

#ajTituloHome{
	text-align: center;
	font-weight: bold;
	color: rgb(0, 72, 110);
}

#ajTextHome p{
    float: left;
    line-height: 34px;
    padding: 5px 0px 0px 0px;
    font-size: 16px;
}

#btnSaibaMais{
	text-align: center;
    position: relative;
    right: 0;
    top: 0px;
    margin: 0 auto 50px auto;
}

#btnSaibaMais a{
	border: 1px solid rgb(0, 72, 110);
    padding: 10px 30px 10px 30px;
    border-radius: 25px;
    color: rgb(0, 72, 110);
}

#btnSaibaMais a:hover{
	text-decoration: none;
	border: 1px solid #ffffff;
	background:rgb(0, 72, 110);
	color: #ffffff;
    padding: 10px 30px 10px 30px;
    border-radius: 25px;
}

#ajTextServicos{
	text-align: center;
	color: rgb(0, 72, 110);
}

.ajTextTituloCenter{
	text-align: center;
	/* color: #337ab7; */
}

.ajTextTituloCenter h4{
	text-align: center;
	font-weight: bold;
	color: rgb(0, 72, 110);
}

.ajTextTituloCenter img{
   	border: 6px solid #eaeaea;
}

.caption p{
	color: #444444;
	font-weight: 500;
}


#btnVerTodos{
	margin-top: 10px;
	margin-bottom: 30px;
	text-align: center;
}

#btnVerTodos a{
	background: rgb(0, 72, 110);
	color: #ffffff;
    padding: 10px 30px 10px 30px;
    border-radius: 25px;
}

#btnVerTodos a:hover{
	text-decoration: none;
	color: rgb(0, 72, 110);
	background: #ffffff;
    padding: 10px 30px 10px 30px;
    border-radius: 25px;
    color: rgb(0, 72, 110);
    border: 1px solid rgb(0, 72, 110);
}


/* Empresa */
.fox-background-empresa{
	background: #f6f6f6;
}


#ajTituloEmpresa{
	text-align: center;
	color: rgb(0, 72, 110);
}

#ajTextEmpresa p{
    line-height: 28px;
}

#ajImgEmpresa img{
    border: 15px solid #ffffff;
    border-radius: 15px;
}


#ajValoresEmpresa{
	float: left;
    text-align: center;
    margin: 15px 0px 15px 0px;
}

#ajValoresEmpresa article, h2{
	color: rgb(0, 72, 110);
}

.ajTelLocalizacao{
	color: rgb(0, 72, 110);
	font-size: 22px;
}
.ajEmailLocalizacao{
	color: rgb(0, 72, 110);
	font-weight: 600;
}

#ajTextoLocalizacao1{
	color: #444444;
	font-size: 18px;
	font-weight: 500;
}

.ajTextBottom{
	color: #444444;
	font-size: 18px;
	font-weight: 500;
}




/* serviços */
#ajTituloServico{
	text-align: center;
}

.fox-background-servico{
	background: #f6f6f6;
	float: left;
	padding: 20px;
	margin-bottom: 80px
}

.ajGeralServicoVisual{
	margin-bottom: 20px;
}

.ajImgFigureServico{

	text-align: center;
}

#ajBtnContateServico{
    text-align: center;
}

#ajBtnContateServico a{
    background: rgb(0, 160, 202);
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 25px;
}

#ajBtnContateServico a:hover{
	text-decoration: none;
    background: #ffffff;
    color: rgb(0, 160, 202);
    padding: 10px 30px;
    border-radius: 25px;
    border: 1px solid rgb(0, 160, 202);
}	

.ajText1{
    line-height: 23px;
    font-weight: bold;
}

#ajImgServico1{
    background: #fff;
    height: 278px;
    width: 269px;
    float: right;
    position: relative;
    right: -18px;
}

#ajImgServico1 img{    
    width: 269px;
    position: relative;
    top: 58px;
}


#ajImgServico2 img {
    width: 269px;
    position: relative;
    top: 10px;
    right: -35px;
    margin-bottom: 10px;
}

#ajImgServico3 img {
    width: 269px;
    position: relative;
    top: 10px;
    right: -35px;
    margin-bottom: 10px;
}

#ajImgServico4 img {
    width: 269px;
    position: relative;
    top: 10px;
    right: -35px;
    margin-bottom: 10px;
}

#ajImgServico5 img {
    width: 269px;
    position: relative;
    top: 10px;
    right: -35px;
    margin-bottom: 10px;
}

#ajImgServico6 img {
    width: 269px;
    position: relative;
    top: 10px;
    right: -35px;
    margin-bottom: 10px;
}

#ajImgServico7 img {
    width: 269px;
    position: relative;
    top: 10px;
    right: -35px;
    margin-bottom: 10px;
}




.menuServico {
    padding: 0px;
    margin: 0 auto;
    list-style: none;
}

.menuServico ul {
    padding: 0px;
    margin: 0 auto;
}

.menuServico li { display: inline; }

.menuServico li a {
    padding: 11px 10px;
    display: inline-block;
    background: rgb(231, 231, 231);
    color: rgb(48, 48, 48);
    text-decoration: none;
    border-left: 5px solid rgb(205, 205, 205);
    width: 100%;
   	margin-bottom: 4px;
}

.menuServico li a:hover {
	background: rgb(0, 122, 158);
    font-weight: 500;
    color: #ffffff;
    border-left: 5px solid rgb(0, 160, 202);
}

.menuServico li.activoServico a{
	background: rgb(0, 122, 158);
    font-weight: 500;
    color: #ffffff;
    border-left: 5px solid rgb(0, 160, 202);
}



/* localização */

#ajPageLocalizacao{
	text-align: center;
}


/* Onde atuamos */
#ajTituloOndeAtuamos h2{
	text-align: center;
}

#ajSubTituloOndeAtuamos p{
	text-align: center;
	font-weight: 500;
	font-size: 18px;
}



#ajListaOndeAtuamos ul{
    list-style: none;
    padding: 23px 0px 0px 135px;
    line-height: 33px;
    font-size: 16px;
    font-weight: 500;
}

#ajListaOndeAtuamos ul li i{
	color: rgb(0, 169, 216);
	font-weight: bold;
}

#ajBtnOndeAtuamos{
    float: right;
    position: relative;
    right: 30px;
    top: 55px;
}

#ajBtnOndeAtuamos a{
	background: rgb(0, 169, 216);
	color: #ffffff;
    padding: 10px 20px 10px 20px;
    border-radius: 55px;
    font-weight: 500;
}

#ajBtnOndeAtuamos a:hover{
	text-decoration: none;
	background: #ffffff;
	border: 1px solid rgb(0, 169, 216);
	color: rgb(0, 169, 216);
    padding: 10px 20px 10px 20px;
    border-radius: 55px;
    font-weight: 500;
}

.ajBottomEspaco{
	min-height: 150px;
}


/* Fale conosco */

#ajTextGeralFaleConosco{
	text-align: center;
}

#ajTextGeralFaleConosco #ajTextoFaleConosco p{
	font-size: 18px;	
	text-align: center;
}

#ajTextGeralFaleConosco article p span{	
	text-align: center;
	font-weight: bold;
	color: rgb(0, 72, 110);
}

#ajTextFaleConoscoSubForm p{
	font-size: 18px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 40px;
	font-weight: bold;
}


.fox-background-fale-conosco{
	background: #f6f6f6;
}

.ajTelFaleConosco{
	color: rgb(0, 72, 110);
	font-size: 22px;
}
.ajEmailFaleConosco{
	color: rgb(0, 72, 110);
	font-weight: 600;
}

.ajInputFaleConosco{
	float: left;
	width: 100%;
	margin-bottom: 30px;
	padding: 15px;
	border: 1px solid rgb(0, 72, 110);
	border-radius: 40px;
}

#btnAjusteEspaco{
	text-align: center;
}

#btnAjusteEspaco button{
	background: rgb(0, 122, 158);
    color: #ffffff;
  	padding: 15px 70px 15px 70px;
    border-radius: 55px;
    font-weight: 500;
    width: 250px;
    border: 2px solid transparent;
}

#btnAjusteEspaco button:hover{
	text-decoration: none;
	background: #ffffff;
    color: rgb(0, 169, 216);
  	padding: 15px 70px 15px 70px;
    border-radius: 55px;
    font-weight: 500;
    width: 250px;
	border: 2px solid rgb(0, 169, 216);
}


#menuBar{
	display: none;
}

/* 
#ajTextoLocalizacao1{
	color: #444444;
	font-size: 18px;
	font-weight: 500;
} */


 /*lg*/
@media (min-width: 1200px)
{
	
	.container{
		width: 980px;
	}
	
}
/*md*/
@media (min-width: 992px) and (max-width: 1199px)
{
	

}

/*sm*/
@media (min-width: 768px) and (max-width: 991px)
{



.menu li a {
    padding: 11px 0px;
    display: inline-block;
    /* background-color: #EDEDED; */
    color: #ffffff;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    width: 116px;
}

.menu li a:hover {
    width: 116px;
    /* background-color: #D6D6D6; */
    font-weight: 500;
    color: #ffffff;
    border-bottom: 3px solid rgb(0, 160, 202);
}

.menu li.activo a{
	/* float: left; */
	padding: 11px 0px;
    color: #ffffff;
   width: 116px;
    border-bottom:3px solid rgb(0, 160, 202);
}

.menu ul {
    text-align: center;
    padding: 0px;
    margin: 0 auto;
}

	#ajImgEmpresa{
		text-align: center;
	}

 	#ajImgEmpresa img{
		text-align: center;
		width: 100%;
	}

	.ajImgFigureServico img{
		width: 100%;
	}

	#menuBar{
		display: none;
	}

	#menuBarHeader{
		display: block;
	}

    #ajImgServico1 {
    background: #fff;
    height: 278px;
    width: 269px;
    float: none;
    position: relative;
    right: 0px;
    margin: 37px auto 5px auto;
}

 #ajImgServico2, #ajImgServico3, #ajImgServico4, #ajImgServico5, #ajImgServico6, #ajImgServico7{
    background: transparent;
    height: 278px;
    width: 269px;
    float: none;
    position: relative;
    right: 0px;
    margin: 37px auto 5px auto;
}

#ajImgServico2 img {
    width: 269px;
    position: relative;
    top: 10px;
    right: 0px;
    margin-bottom: 10px;
}

#ajImgServico3 img {
    width: 269px;
    position: relative;
    top: 10px;
    right: 0px;
    margin-bottom: 10px;
}

#ajImgServico4 img {
    width: 269px;
    position: relative;
    top: 10px;
    right: 0px;
    margin-bottom: 10px;
}

#ajImgServico5 img {
    width: 269px;
    position: relative;
    top: 10px;
    right: 0px;
    margin-bottom: 10px;
}

#ajImgServico6 img {
    width: 269px;
    position: relative;
    top: 10px;
    right: 0px;
    margin-bottom: 10px;
}

#ajImgServico7 img {
    width: 269px;
    position: relative;
    top: 10px;
    right: 0px;
    margin-bottom: 10px;
}


 

}

/*xs*/
@media (max-width: 767px)
{

#ajImgServico1 {
    background: #fff;
    height: 278px;
    width: 269px;
    float: none;
    position: relative;
    right: 0px;
    margin: 37px auto 5px auto;
}

 #ajImgServico2, #ajImgServico3, #ajImgServico4, #ajImgServico5, #ajImgServico6, #ajImgServico7{
    background: transparent;
    height: 278px;
    width: 269px;
    float: none;
    position: relative;
    right: 0px;
    margin: 37px auto 5px auto;
}

#ajImgServico2 img {
    width: 269px;
    position: relative;
    top: 10px;
    right: 0px;
    margin-bottom: 10px;
}

#ajImgServico3 img {
    width: 269px;
    position: relative;
    top: 10px;
    right: 0px;
    margin-bottom: 10px;
}

#ajImgServico4 img {
    width: 269px;
    position: relative;
    top: 10px;
    right: 0px;
    margin-bottom: 10px;
}

#ajImgServico5 img {
    width: 269px;
    position: relative;
    top: 10px;
    right: 0px;
    margin-bottom: 10px;
}

#ajImgServico6 img {
    width: 269px;
    position: relative;
    top: 10px;
    right: 0px;
    margin-bottom: 10px;
}

#ajImgServico7 img {
    width: 269px;
    position: relative;
    top: 10px;
    right: 0px;
    margin-bottom: 10px;
}

	.ajAreaCliente, .ajOrcamento{
		text-align: center;
		display: block;
		width: inherit;
		margin:  0px auto;
	}

	.ajFoxTextHeader{
		text-align: center;
		display: block;
		width: inherit;
		margin:  0px auto;
	}

	.ajFoxTextHeader span{
		float: none;
		text-align: center;
		display: block;
		width: inherit;
		margin:  0px auto;
	}

	.logoPrincipal{
		width: 100%;
		display: block;
		width: inherit;
		margin:  0px auto;
	}
		



	#menuBar{
		display: block;
	}

	#menuBarHeader{
		display: none;
	}

	#fox-background-menu-header {
    height: auto;
    background: linear-gradient(rgb(0, 50, 78), rgb(0, 72, 110), rgb(0, 72, 110));
}

.menu ul {
    text-align: left;
    padding: 0px;
    margin: 0 auto;
}

	.menu li a {
    padding: 11px 0px;
    display: inline-block;
    /* background-color: #EDEDED; */
    color: #ffffff;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    width: 100%;
}

.menu li a:hover {
    width: 100%;
    /* background-color: #D6D6D6; */
    font-weight: 500;
    color: #ffffff;
    border-bottom: 3px solid rgb(0, 160, 202);
}

.menu li.activo a{
	/* float: left; */
	padding: 11px 0px;
    color: #ffffff;
   width: 100%;
    border-bottom:3px solid rgb(0, 160, 202);
}


	
#btnSaibaMais {
    text-align: center;
    position: relative;
    right: 0;
    top: 0;
    margin-bottom: 38px;
}

.imgEmpresaHome {
    margin: 0px auto 36px;
    text-align: center;
}

#ajImgEmpresa{
	text-align: center;

}

#ajImgEmpresa img{
	text-align: center;
	width: 100%;

}

.ajImgFigureServico img{
		width: 100%;
	}

.ajImgAtuamos img{
	width: 100%;
}

#ajListaOndeAtuamos ul {
    list-style: none;
    padding: 23px 0px 0px 23px;
    line-height: 33px;
    font-size: 16px;
    font-weight: 500;
}


}